/* asterisque symbolise tous les éléments html */
* {
    margin: 0;
}


.jungle {
    width: 800px;
    height: 500px;
    position: relative;
    margin: 20px auto;
}

.jungle img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.soldat {
    position: absolute;
    left: 200px;
    bottom: 25px;
    width: 146px;
    height: 191px;
    background-image: url(../../../data/images/jungle/soldat.png);
    background-position: 0 0;
    animation-name: step;
    animation-duration: 0.7s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

@keyframes step {
            8.3333% {
                background-position: -146px 0;
            }

            16.6666% {
                background-position: -292px 0;
            }

            25% {
                background-position: -438px 0;
            }

            33.3333% {
                background-position: -584px 0;
            }

            41.6666% {
                background-position: -730px 0;
            }

            50% {
                background-position: -876px 0;
            }

            58.3333% {
                background-position: 0 -191px;
            }

            66.6666% {
                background-position: -146px -191px;
            }

            75% {
                background-position: -292px -191px;
            }

            83.3333% {
                background-position: -438px -191px;
            }

            91.6666% {
                background-position: -584px -191px;
            }

            100% {
                background-position: 0 0;
            }
}




