*{
    margin: 0;
}


section {
    width: 600px;
    height: 600px;
    display: flex;
    /* mode vertical */
    flex-direction: column;
    /* les prorpriétés d'aligenment 
        sont inversées
    */
    justify-content: center;
    align-items: center;
    margin: 80px auto 0 auto;
    padding: 50px;
    background: rgb(221, 218, 218);

}

div {
    width: 100px;
    height: 60px;
}

div:nth-of-type(odd){
    background: #106db9;
}

div:nth-of-type(even){
    background: orangered;
}