p{
    font-size: 20px;
}

/* selecteur relatif à un élément qui a un attribut class */
.important {
    font-size: 24px;
    font-family: sans-serif;
}

.alert {
    color: orangered;
}

.info {
    color: #1e90ff;
}