p {
    font-family: sans-serif;
    font-size: 30px;
    color: chocolate!important;
}
/* 
    avec !important le sélecteur naturel
    lequel avait le moins de poids 
    est ici celui qui a le  dernier mot
*/

/* class plus de poids */
.p1 {
    color:green;
}

/* id a plus de poids */
#pg1 {
    color:hotpink;
}