@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 960px;
    height: 400px;
    padding-left: 20px;
    background: url(../../data/freepik-source/think-green/fond.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container h1 {
    font-size: 50px;
    margin-bottom: 5px;
    color: rgb(12, 82, 12);
}

.container h2 {
    margin-bottom: 15px;
    color: white;
}

.container p {
    margin-bottom:15px ;
    font-size: 18px;
    width: 380px;
    color: green;
} 

figure img {
    margin-right: 5px;
}